/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 13px;
  line-height: 1.23em;
}
body {
  font-family: arial, sans-serif;
}
.mdr-header-tools {
  float: right;
  text-align: right;
}
.mdr-logo {
  display: inline-block;
  height: 29px;
  width: 30px;
  margin: 3px;
  vertical-align: top;
}
input {
  border: 1px solid #999999;
  padding: 0;
}
.mdr-global-input {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
.mdr-global-input input {
  width: 30ex;
}
.mdr-left-panel {
  width: 170px;
  padding-left: 10px;
  margin-bottom: 10px;
  float: left;
  border-right: 1px solid #cccccc;
}
.mdr-left-panel h2 {
  text-transform: uppercase;
  font-size: 108%;
  font-weight: bold;
  border-top: 1px solid #999999;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mdr-left-panel select {
  width: 23ex;
}
.mdr-page-content {
  margin-left: 190px;
  padding: 10px;
  border-top: 1px solid #cccccc;
}
.mdr-left-panel-switcher {
  float: left;
}
.mdr-navigation-panel {
  line-height: 1.5em;
}
.mdr-navigation-panel h3 {
  font-weight: bold;
}
.mdr-navigation-panel li {
  display: inline-block;
  margin-right: 10px;
}
a:link,
a:visited,
a:hover {
  color: #333333;
  text-decoration: none;
}
.mdr-company-logo {
  float: left;
  margin: 10px;
  height: 40px;
}
.mdr-footer {
  clear: both;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #999999;
  text-align: center;
}
.mdr-edit-form,
.mdr-search-form {
  margin-bottom: 10px;
}
.mdr-hidden {
  display: none;
}
.mdr-error {
  background-color: lightcoral;
}
.mdr-form-title {
  font-weight: bold;
  line-height: 1.5em;
}
.mdr-tab-content {
  display: none;
  border: 1px solid #519e2d;
  padding: 10px;
}
.mdr-tab-content.mdr-active {
  display: block;
}
.mdr-tab-list {
  padding-left: 3px;
  height: 27px;
}
.mdr-tab-list li {
  display: inline-block;
  margin-left: 3px;
  vertical-align: top;
}
.mdr-tab-list li a {
  display: block;
  margin-top: 5px;
  background: url("i/tabs.png") 100% 0;
  padding-right: 12px;
}
.mdr-tab-list li a span {
  display: block;
  line-height: 20px;
  font-weight: bold;
  background: url("i/tabs.png") 0 0;
  padding-left: 12px;
  padding-top: 1px;
  color: white;
}
.mdr-tab-list li.mdr-active a {
  margin-top: 0;
  background-position: 100% -23px;
}
.mdr-tab-list li.mdr-active a span {
  padding-top: 0;
  background-position: 0 -23px;
  line-height: 27px;
}
.mdr-field-grid {
  margin: 5px 0;
}
.mdr-field-grid.mdr-grid3 .mdr-grid-field,
.mdr-field-grid.mdr-grid3 .mdr-grid-field-label {
  width: 14.6%;
  min-width: 100px;
  margin: 0 2% 0 0;
  display: inline-block;
  overflow: hidden;
}
.mdr-field-grid.mdr-grid2 .mdr-grid-field,
.mdr-field-grid.mdr-grid2 .mdr-grid-field-label {
  width: 23%;
  min-width: 100px;
  margin: 0 2% 0 0;
  display: inline-block;
  overflow: hidden;
}
.mdr-field-grid .mdr-grid-field-label {
  text-align: right;
}
.mdr-field-grid .mdr-grid-field input,
.mdr-field-grid .mdr-grid-field select {
  width: 90%;
}
/* Main Flora Style Sheet for jQuery UI Datepicker */
#datepicker_div,
.datepicker_inline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: #DDD;
  width: 185px;
}
#datepicker_div {
  display: none;
  border: 1px solid #FF9900;
  z-index: 10;
}
.datepicker_inline {
  float: left;
  display: block;
  border: 0;
}
.datepicker_dialog {
  padding: 5px !important;
  border: 4px ridge #DDD !important;
}
button.datepicker_trigger {
  width: 25px;
}
img.datepicker_trigger {
  margin: 2px;
  vertical-align: middle;
}
.datepicker_prompt {
  float: left;
  padding: 2px;
  background: #DDD;
  color: #000;
}
*html .datepicker_prompt {
  width: 185px;
}
.datepicker_control,
.datepicker_links,
.datepicker_header,
.datepicker {
  clear: both;
  float: left;
  width: 100%;
  color: #FFF;
}
.datepicker_control {
  background: #FF9900;
  padding: 2px 0px;
}
.datepicker_links {
  background: #e0f4d7;
  padding: 2px 0px;
}
.datepicker_control,
.datepicker_links {
  font-weight: bold;
  font-size: 80%;
  letter-spacing: 1px;
}
.datepicker_links label {
  padding: 2px 5px;
  color: #888;
}
.datepicker_clear,
.datepicker_prev {
  float: left;
  width: 34%;
}
.datepicker_current {
  float: left;
  width: 30%;
  text-align: center;
}
.datepicker_close,
.datepicker_next {
  float: right;
  width: 34%;
  text-align: right;
}
.datepicker_header {
  padding: 1px 0 3px;
  background: #83c948;
  text-align: center;
  font-weight: bold;
  height: 1.3em;
}
.datepicker_header select {
  background: #83c948;
  color: #000;
  border: 0px;
  font-weight: bold;
}
.datepicker {
  background: #CCC;
  text-align: center;
  font-size: 100%;
}
.datepicker a {
  display: block;
  width: 100%;
}
.datepicker .datepicker_titleRow {
  background: #b1db87;
  color: #000;
}
.datepicker .datepicker_daysRow {
  background: #FFF;
  color: #666;
}
.datepicker_weekCol {
  background: #b1db87;
  color: #000;
}
.datepicker .datepicker_daysCell {
  color: #000;
  border: 1px solid #DDD;
}
#datepicker .datepicker_daysCell a {
  display: block;
}
.datepicker .datepicker_weekEndCell {
  background: #e0f4d7;
}
.datepicker .datepicker_daysCellOver {
  background: #FFF;
  border: 1px solid #777;
}
.datepicker .datepicker_unselectable {
  color: #888;
}
.datepicker_today {
  background: #b1db87 !important;
}
.datepicker_currentDay {
  background: #83c948 !important;
}
#datepicker_div a,
.datepicker_inline a {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  color: #000;
}
.datepicker_inline .datepicker_links a {
  padding: 0 5px !important;
}
.datepicker_control a,
.datepicker_links a {
  padding: 2px 5px !important;
  color: #000 !important;
}
.datepicker_titleRow a {
  color: #000 !important;
}
.datepicker_control a:hover {
  background: #FDD !important;
  color: #333 !important;
}
.datepicker_links a:hover,
.datepicker_titleRow a:hover {
  background: #FFF !important;
  color: #333 !important;
}
.datepicker_multi .datepicker {
  border: 1px solid #83C948;
}
.datepicker_oneMonth {
  float: left;
  width: 185px;
}
.datepicker_newRow {
  clear: left;
}
.datepicker_cover {
  display: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 193px;
  height: 200px;
}
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /*
  if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /*
  it is very important, if line-height not setted or setted
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}
.ac_loading {
  /* background: white url('indicator.gif') right center no-repeat; */
}
.ac_odd {
  background-color: #E0F4D7;
  /*background-color: #eee;*/
}
.ac_over {
  background-color: #0A246A;
  color: white;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border: 1px solid #999999;
  padding: 0;
  background: url('buttons/button-background.png') repeat-x;
  font-weight: bolder;
}
.mdr-button-panel {
  padding: 5px 0;
}
.mdr-button-panel li {
  display: inline-block;
  margin-right: 5px;
}
.mdr-menu-horizontal {
  list-style: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.mdr-menu-horizontal li {
  display: inline;
  padding: 0 10px;
  border-right: 1px solid #cccccc;
  color: #333333;
  line-height: 1.6em;
}
.mdr-menu-horizontal li a {
  font-weight: bold;
}
.mdr-top-menu {
  margin-bottom: 10px;
  clear: both;
}
.mdr-menu-item {
  cursor: pointer;
}
.mdr-menu-item a:link,
.mdr-menu-item a:visited,
.mdr-menu-item a:hover {
  font-weight: bold;
}
.mdr-side-menu .mdr-menu-item {
  padding: 4px 0 4px 10px;
  border-bottom: 1px solid black;
  font-size: 14px;
  background: black url('ddaccordion/item-back.png') repeat-x bottom left;
}
.mdr-side-menu .mdr-menu-item:hover {
  background: #dfdccb url('ddaccordion/item-back-hover.png');
}
.mdr-messages .mdr-message,
.mdr-messages .mdr-warning,
.mdr-messages .mdr-error {
  padding: 5px;
  margin-bottom: 5px;
  border: solid 2px;
}
.mdr-messages .mdr-message {
  background-color: #d8e4f1;
  border-color: #3c78b5;
}
.mdr-messages .mdr-warning {
  background-color: #ffffce;
  border-color: #f0c000;
}
.mdr-messages .mdr-error {
  background-color: #ffcccc;
  border-color: #c00;
}
