/*
This is the core stype of the whm site
*/
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 7pt;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h1 {
font-size: 1.1em;
margin-left: -2%;
text-align: left;
}
h2 {
font-size: 1.2em;
margin-left: -20%;
}
h3 {
font-size: 12pt;
text-decoration: blink;
margin-left: -10%;
}
h4 {
font-size: 12pt;
position: absolute;
left: 10px;
top: 5px;
}
div {
display: block;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
.center {
text-align: center;
}
.center table {
width: 65%;
margin-left: auto;
margin-right: auto;
text-align: left;
}
#DA {
color: white ;
background-color: orange;
/* #float: right;
#width: 55%; */
}
#DX {
color: black ;
background-color: cyan;
}
#labeled {
color: black ;
background-color: green;
}
#weighed {
color: black ;
background-color: orange;
}
#picked {
color: white ;
background-color: purple;
}
#pickedoversized {
color: black ;
background-color: yellow;
}
#received {
color: black ;
background-color: red;
}
