/*
This is the core stype of the whm site
*/
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h1 {
font-size: 1.1em;
margin-left: -2%;
text-align: left;
}
h2 {
font-size: 1.2em;
margin-left: 0%;
}
h3 {
font-size: 1em;
line-height: 1.16em;
text-decoration: blink;
margin-left: -10%;
}
h4 {
font-size: 1em;
line-height: 1.16em;
position: absolute;
left: 10px;
top: 5px;
}
a:link {
color: red;
background-color: blue;
text-decoration: none;
}
a:visited {
color: red;
background-color: blue;
text-decoration: none;
}
a:hover {
color: red;
background-color: blue;
text-decoration: none;
}
a:active {
color: red;
background-color: blue;
text-decoration: none;
}
input.default,input[type="text"] {
color: blue ;
background-color: cyan ;
}
input.message,input.message[type="text"] {
color: red ;
background-color: yellow;
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 0.83em;
top: 142pt;
}
input.noread {
color: black ;
background-color: gainsboro  ;
}
input.submit:focus {
outline: solid red 2px;
color: solid blue ;
}
select {
font-size: 0.66em;
}
select.sel1 {
width: 25%;
}
select.sel2 {
width: 30%;
}
select.sel3 {
overflow: hidden;
width: 45%;
position: absolute;
left: 53pt;
}
select.sel4 {
position: absolute;
left: 93pt;
}
select.sel5 {
position: absolute;
left: 53pt;
}
select:focus {
outline: 1px #ff7d00 ;
color: red ;
}
select:scrolling {
display: block;
width: 55%;
}
button {
display: block;
color: black ;
background-color: cyan;
font-size: 0.91em;
width: 50pt;
height: 20%;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
#col1 {
position: absolute;
left: 4px;
top: 165pt;
}
#col2 {
position: absolute;
left: 130px;
top: 165pt;
}
#col3 {
position: absolute;
left: 2px;
top: 5px;
width: 200pt;
}
#col4 {
position: absolute;
left: 68px;
top: 168pt;
}
#col5 {
position: absolute;
top: 218pt;
/* left: 95pt; */
left: 10pt;
}
#col6 {
position: absolute;
left: 4px;
top: 200pt; 
}
#col7 {
position: absolute;
left: 2px;
/* top: 165pt; */
/* top: 185pt; */
top: 225pt;
width: 200pt;
}
#col8 {
position: absolute;
left: 2px;
top: 65pt;
width: 200pt;
}
