/*
This is the core stype of the whm site
*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 1em;
/*
margin-top: 3%;
margin-bottom: 3%;
margin-right: 3%;
margin-left: 3%;
*/
/*
background-image: url("/icons/whm/bdcs_wm.gif");
background-image: url("logo.php");
*/
background-repeat: no-repeat;
background-position: left 60%;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h1 {
font-size: 1.1em;
margin-left: 0%;
text-align: left;
}
h2 {
font-size: 1.2em;
margin-left: 0%;
}
h3 {
font-size: 1em;
text-decoration: blink;
margin-left: 0%;
}
h4 {
font-size: 1em;
position: absolute;
left: 10px;
top: 5px;
}
a:link {
color: black;
background-color: aqua;
text-decoration: none;
width: 85%;
display: block;
font-size: 0.95em;
border-width: thin;
border-style: inset inset outset outset;
border-left-color: silver;
border-top-color: silver;
border-right-color: black;
border-bottom-color: black;
}
a:visited {
color: maroon;
background-color: aqua;
text-decoration: none;
width: 45%;
}
a:hover {
color: red;
background-color: yellow;
text-decoration: none;
}
a:active {
color: red;
background-color: green;
text-decoration: none;
}
p.description {
margin-top: 1px;
margin-bottom: 1px;
color: yellow;
}
p.method {
margin-top: 2px;
margin-bottom: 2px;
color: orange;
}
input.default,input[type="text"] {
color: blue ;
background-color: cyan ;
}
input[type="button"] {
color: black ;
background-color: cyan;
font-size: 0.95em;
width: 5.8em;
height: 115%;
}
input.submit:focus {
outline: solid red 2px;
color: blue ;
}
select:focus {
outline: 2px #ff7d00 ;
color: red ;
}
button {
display: block;
color: black ;
background-color: cyan;
font-size: 0.95em;
width: 5.8em;
height: 3em;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
#col1 {
position: absolute;
left: 10px;
top: 2.1em;
}
#col2 {
position: absolute;
left: 110px;
top: 25px;
width: 100px;
}
button.cl2 {
position: absolute;
left: 40px;
top: 100px;
}
