/*
This is the core stype of the whm site
*/
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h1 {
font-size: 1.1em;
margin-left: 2%;
text-align: left;
}
h2 {
font-size: 1.0em;
margin-left: 1%;
}
h3 {
font-size: 1em;
/* text-decoration: blink; */
margin-left: 10%;
}
h4 {
font-size: 1em;
position: absolute;
left: 10px;
top: 5px;
}
a:link {
color: red;
background-color: blue;
text-decoration: none;
}
a:visited {
color: red;
background-color: blue;
text-decoration: none;
}
a:hover {
color: red;
background-color: blue;
text-decoration: none;
}
a:active {
color: red;
background-color: blue;
text-decoration: none;
}
input[type="text"] {
color: blue ;
background-color: cyan ;
}
input.message[type="text"] {
color: red ;
background-color: yellow;
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 0.6em;
}
input.submit:focus {
outline: solid red 2px;
color: blue ;
}
select.sel1 {
width: 25%;
}
select.sel2 {
width: 30%;
}
select.sel3 {
width: 120%;
}
select.sel50 {
width: 66%;
}
select:focus {
outline: 2px #ff7d00 ;
color: red ;
}
button {
display: block;
color: black ;
background-color: cyan;
font-size: 0.95em;
width: 3.3em;
height: 20%;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
#col1 {
position: absolute;
left: 4px;
top: 13.3em;
}
#col2 {
position: absolute;
left: 2%;
top: 6%;
font-size: 1em;
}
#col3 {
position: absolute;
left: 12%;
top: 6%;
font-size: 0.8em;
}
#col4 {
position: absolute;
left: 5%;
top: 68%;
}
#divgeneric {
position: absolute;
left: 2%;
top: 13%;
}
#divbrand {
position: absolute;
left: 42%;
top: 13%;
}
#divradio2 {
position: absolute;
left: 12%;
top: 26%;
font-size: 0.8em;
}
#div6 {
position: absolute;
left: 2%;
top: 34%;
font-size: 0.8em;
}
#div6p2 {
position: absolute;
left: 27%;
top: 34%;
font-size: 0.8em;
}
#div7 {
position: absolute;
left: 17%;
top: 34%;
font-size: 0.8em;
}
#div7p2 {
position: absolute;
left: 42%;
top: 34%;
font-size: 0.8em;
}
#div8 {
position: absolute;
left: 32%;
top: 34%;
font-size: 0.8em;
}
#div8p2 {
position: absolute;
left: 57%;
top: 34%;
font-size: 0.8em;
}
#div9 {
position: absolute;
left: 47%;
top: 34%;
font-size: 0.8em;
}
#div9p2 {
position: absolute;
left: 72%;
top: 34%;
font-size: 0.8em;
}
#div10 {
position: absolute;
left: 62%;
top: 34%;
font-size: 0.8em;
}
#div10p2 {
position: absolute;
left: 87%;
top: 34%;
font-size: 0.8em;
}
