<style type="text/css">
/*
body {
     font-family: sans-serif;
     font-size: 0.8em;
     border: 0; padding: 0; margin: 0;
}
*/
form, div {
    border: 0; padding:0 ; margin: 0;
}
table {
    border: 0; padding: 0; margin: 0;
}
</style>
