/*
This is the core stype of the whm site
*/
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 1.0em;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h1 {
font-size: 1.1em;
text-align: left;
}
h2 {
font-size: 1.2em;
}
h3 {
font-size: 1em;
line-height: 1.2em;
}
h4 {
font-size: 1em;
line-height: 1.2em;
position: absolute;
left: 10px;
top: 5px;
}
a:link {
color: red;
background-color: blue;
text-decoration: none;
}
a:visited {
color: red;
background-color: blue;
text-decoration: none;
}
a:hover {
color: red;
background-color: blue;
text-decoration: none;
}
a:active {
color: red;
background-color: blue;
text-decoration: none;
}
input[type="text"] {
color: blue ;
background-color: cyan ;
}
input.message[type="text"] {
color: red ;
background-color: yellow;
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 1.0em;
}
input.submit:focus {
outline: solid red 2px;
color: solid blue ;
}
select.sel1 {
width: 25%;
}
select.sel2 {
width: 30%;
}
select.sel3 {
width: 45%;
}
select:focus {
outline: 2px #ff7d00 ;
color: red ;
background-color: cyan;
}
select:scrolling {
display: block;
width: 55%;
}
table {
  border-collapse: collapse;
}
th td {
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Arial, Helvetia, Verdana, Sans-serif;
  font-size: 0.5em;
  color: white;
  background-color: blue;
}
button {
display: block;
color: black ;
background-color: cyan;
font-size: 0.95em;
width: 4.1em;
height: 2.75em;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
#col1 {
position: absolute;
left: 4px;
top: 14.1em;
}
#col2 {
position: absolute;
left: 130px;
top: 13.3em;
}
#col4 {
position: absolute;
left: 68px;
top: 14em;
}
#col3 {
position: absolute;
left: 2px;
top: 5px;
width: 16.6em;
}
#message {
position: absolute;
left: 2px;
top: 20.1em;
width: 16.6em;
}
#order {
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
}
#locns {
position: absolute;
height: 8.3em;
top: 6em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
/* overflow: scroll; */
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
}
#locns2 {
position: absolute;
top: 6em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
}
#locationform {
top: 0em;
width: 20%;
float: left;
}
#btns {
clear: both;
padding-bottom: 0em;
}
label {
display: block;
text-align: right;
float: left;
width:75px;
padding-right: 20px;
}
#locns3 {
position: absolute;
height: 9.1em;
top: 0.2em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
/* overflow: scroll; */
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;

}
#locns4 {
position: absolute;
height: 12.5em;
top: 9.5em;
left: 0.2em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
}
#locns5 {
position: absolute;
height: 7.5em;
top: 0.2em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
/* overflow: scroll; */
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
}
#locns6 {
position: absolute;
height: 12.5em;
top: 8.6em;
left: 0.2em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
}
