/*
This is the stype of the receive are
*/
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 1em;
margin-top: 3%;
margin-bottom: 3%;
margin-right: 3%;
margin-left: 3%;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h2 {
font-size: 1.2em;
margin-left: -20%;
}
h3 {
font-size: 1em;
line-height: 1.2em;
text-decoration: blink;
margin-left: -10%;
}
h4 {
font-size: 0.6em;
line-height: 0.8em;
position: absolute;
left: 10px;
top: 1px;
}
a:link {
color: red;
background-color: blue;
text-decoration: none;
}
a:visited {
color: red;
background-color: blue;
text-decoration: none;
}
a:hover {
color: red;
background-color: blue;
text-decoration: none;
}
a:active {
color: red;
background-color: blue;
text-decoration: none;
}
p.description {
margin-top: 1px;
margin-bottom: 1px;
color: yellow;
}
p.method {
margin-top: 2px;
margin-bottom: 2px;
color: orange;
}
input[type="text"] {
color: blue ;
background-color: cyan ;
}
input.submit:focus {
outline: solid red 2px;
color: solid blue ;
}
select:focus {
outline: 2px #ff7d00 ;
color: red ;
}
select:scrolling {
display: block;
width: 85%;
}
button {
display: block;
color: black ;
background-color: cyan;
font-size: 0.95em;
width: 3.3em;
height: 40%;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
#col1 {
position: absolute;
left: 10px;
top: 15px;
width: 100px;
}
#col2 {
position: absolute;
left: 110px;
top: 15px;
width: 100px;
}
#col3 {
position: absolute;
left: 110px;
top: 15px;
width: 100px;
height: 11%;
}
