html
{
    font-size: 13px;
    font-family: arial, sans serif;
    line-height: 1.23em;
}
body, form, table, tr, td, th, h1, h2, h3, h4, p, img
{
    font-weight: normal;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 100%;
}
th, td
{
    text-align: left;
    verticl-align: top;
}
table.withborder, table.withborder td, table.withborder th
{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-collapse: collapse;
}
table.withborder td, table.withborder th
{
    padding: 2px;
}
button, input
{
    background-color: #ffffff;
    color: #000000;
}
textarea, input[type="text"], input[type="password"], input[type="submit"], input[type="reset"]
{
    border: 1px solid #999999;
}
input[type="text"]
{
    width: 30ex;
}
input[type="submit"], input[type="reset"]
{
    border: 1px solid #999999;
    padding: 2px 5px;
}
input.number
{
    width: 15ex;
    text-align: right;
}
textarea
{
    height: 10ex;
}
button
{
    border: 1px solid #999999;
}
select
{
    border: 1px solid #999999;
    width: 30ex;
}
textarea[disabled="true"], input[disabled="true"], button[disabled="true"], select[disabled="true"]
{
    background-color: #eeeeee;
}
textarea[disabled="disabled"], input[disabled="disabled"], button[disabled="disabled"], select[disabled="disabled"]
{
    background-color: #eeeeee;
}
a:link, a:visited, a:hover
{
    color: #333333;
    text-decoration: none;
}
a:hover
{
    color: #003399;
}
h1, h2, h3, h4
{
    border: 0;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
h1
{
    font-size: 115%;
    text-transform: uppercase;
}
h2
{
    font-size: 108%;
    text-transform: uppercase;
}
h3
{
    font-size: 100%;
}
h4
{
    font-size: 100%;
}
#header
{
    margin-bottom: 10px;
}
#header ul
{
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 0;
    border-right: 0;
    margin: 0;
}
#header li
{
    display: inline;
    padding: 0 10px;
    line-height: 1.6em;
    border: 0;
    border-right: 1px solid #cccccc;
    margin: 0;
}
#header #logo
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#header #top-nav
{
    float: right;
}
#header #minder-logo
{
    float: right;
    clear: both;
    width: 30px;
    height: 29px;
    margin: 3px;
}
#header #modules
{
}
#header #modules li
{
    font-weight: bold;
}
#header #modules li.selected a:link
{
    color: #003399;
}
#left
{
    float: left;
    width: 170px;
    padding: 0 0 0 10px;
    border-right: 1px solid #cccccc;
    margin-bottom: 10px;
}
#left h2
{
    border-top: 1px solid #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}
#left ul
{
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    list-style-type: none;
}
#left li
{
    border: 0;
    border-top: 1px solid #cccccc;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}
#page
{
    margin-left: 190px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px 10px;
}
#footer
{
    clear: both;
    margin-top: 20px;
    border-top: 1px solid #999999;
    text-align: center;
}


#page>h1
{
    margin-bottom: 20px;
}
div.section
{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
div.section+div.section
{
    margin-top: 15px;
}
div.section>h2
{
}
div.section table
{
    width: 100%;
}
div.section table td
{
    width: 35%;
}
div.section table th
{
    width: 15%;
}
div.section>div>.left
{
    display: table-cell;
    left: 0;
    top: 0;
    width: 50%;
}
div.section>div>.right
{
    display: table-cell;
    right: 0;
    top: 0;
    width: 0%;
}
table.summary, table.summary td, table.summary th
{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-collapse: collapse;
    width: 99%;
}
table.summary th
{
    background-color: #eeeeff;
    text-align: right;
    padding: 2px 5px 2px 2px;
    width: 15%;
}
table.summary td
{
    padding: 2px 2px 2px 5px;
    width: 35%;
}
ul.toolbar
{
    list-style-type: none;
    border: 0;
    padding: 0;
    margin: 5px 0;
}
ul.toolbar li
{
    display: inline;
    border: 0;
    padding: 2px 5px 2px 0;
    margin: 0;
}
div.tabctrl ul.nav
{
    list-style-type: none;
    border: 0;
    border-bottom: 1px solid #000000;
    padding: 0 5px;
    margin: 0;
}
div.tabctrl ul.nav li
{
    display: inline;
    padding: 2px 10px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    background-color: #eeeeee;
    cursor: pointer;
}
div.tabctrl ul.nav li.selected
{
    display: inline;
    padding: 2px 10px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    background-color: #ffffff;
}
div.tabctrl div.pages div.page {
    display: none;
}
div.tabctrl div.pages div.page-selected {
    display: block;
}
.ac_input {
    width: 200px;
}
.ac_results {
    overflow: hidden;
    border: 1px solid #888;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.ac_results iframe {
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}
.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}
.ac_over {
    background-color: Highlight;
    color: HighlightText;
}
#flash {
    border: 3px solid #ff0000;
    padding: 5px 10px;
    margin: 5px 10px;
}
#message {
    border: 3px solid #00ff00;
    padding: 5px 10px;
    margin: 5px 10px;
}
