/*
This is the core stype of the whm site
*/
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 0.58em;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h1 {
font-size: 1.1em;
margin-left: -2%;
text-align: left;
}
h2 {
font-size: 1.2em;
margin-left: -20%;
}
h3 {
font-size: 1em;
text-decoration: blink;
margin-left: -10%;
}
h4 {
font-size: 1em;
position: absolute;
left: 10px;
top: 5px;
}
div {
display: block;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
.center {
text-align: center;
}
.center table {
width: 65%;
margin-left: auto;
margin-right: auto;
text-align: left;
}
#DA {
color: white ;
background-color: orange;
}
#DX {
color: black ;
background-color: cyan;
}
#OP {
color: black ;
background-color: red;
}
#CN {
color: white ;
background-color: black;
}
#DC {
color: white ;
background-color: blue;
}
#labeled {
color: black ;
background-color: green;
}
#weighed {
color: black ;
background-color: orange;
}
#picked {
color: white ;
background-color: purple;
}
#pickedoversized {
color: black ;
background-color: yellow;
}
#received {
color: black ;
background-color: red;
}
td.DA {
color: white ;
background-color: orange;
}
td.DX {
color: black ;
background-color: cyan;
}
td.OP {
color: black ;
background-color: red;
}
td.CN {
color: white ;
background-color: black;
}
td.DC {
color: white ;
background-color: blue;
}
td.HD {
color: white ;
background-color: grey;
}
td.AL {
color: black ;
background-color: yellow;
}
td.DS {
color: black ;
background-color: green;
}
td.PL {
color: black ;
background-color: white;
}
td.PG {
color: black ;
background-color: white;
}
