/*
This is the core stype of the whm site
*/
/*
body {
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 6pt;
}
*/
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}
h1 {
font-size: 1.1em;
margin-left: 0%;
text-align: left;
}
h2 {
font-size: 1.2em;
margin-left: 0%;
}
h3 {
font-size: 12pt;
line-height: 14pt;
text-decoration: blink;
margin-left: 0%;
}
h4 {
font-size: 12pt;
line-height: 14pt;
position: absolute;
left: 10px;
top: 5px;
}
a:link {
color: red;
background-color: blue;
text-decoration: none;
}
a:visited {
color: red;
background-color: blue;
text-decoration: none;
}
a:hover {
color: red;
background-color: blue;
text-decoration: none;
}
a:active {
color: red;
background-color: blue;
text-decoration: none;
}
input[type="text"] {
color: blue ;
background-color: cyan ;
}
input.message,input.message[type="text"] {
color: red ;
background-color: yellow;
font-family: Verdana, Helvetica,  Arial, sans-serif;
font-size: 8pt;
}
input.submit:focus {
outline: red 2px;
color: blue ;
}
select.sel1 {
width: 25%;
}
select.sel2 {
width: 30%;
}
select.sel3 {
width: 45%;
}
select:focus {
outline: 2px #ff7d00 ;
color: red ;
background-color: cyan;
}
/*
select:scrolling {
display: block;
width: 55%;
}
*/
/*
table {
  border-collapse: collapse;
}
th td {
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Arial, Helvetia, Verdana, Sans-serif;
  font-size: 6pt;
  color: white;
  background-color: blue;
  height: 0.6em;
  border: 0; padding: 0; margin: 0;
}
*/
/*
button {
display: block;
color: black ;
background-color: cyan;
font-size: 11pt;
width: 50pt;
height: 2.75em;
margin-top: 1%;
margin-bottom: 1%;
margin-right: 1%;
margin-left: 1%;
}
*/
#col1 {
position: absolute;
left: 4px;
top: 170pt;
}
#col2 {
position: absolute;
left: 130px;
top: 160pt;
}
#col4 {
position: absolute;
left: 68px;
top: 168pt;
}
#col3 {
position: absolute;
left: 2px;
top: 16pt;
width: 200pt;
}
#col5 {
position: absolute;
left: 4px;
top: 56pt;
}
#col6 {
position: absolute;
left: 4px;
top: 100pt;
}
#message {
position: absolute;
left: 2px;
top: 1pt;
width: 200pt;
}
/* left: 118pt; */
#message3 {
position: absolute;
left: 4pt;
top: 10em;
width: 100pt;
}
/* top: 86pt; */
/* top 16.5em */
#buttons3 {
position: absolute;
left: 4pt;
top: 180pt;
width: 100pt;
}
#order {
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
}
/* top: 15em; */
#locns {
position: absolute;
height: 7.3em;
width:  20em;
top: 10.0em;
left: 0.3em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
/* overflow: scroll; */
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
color: blue;
}
#locns2 {
position: absolute;
top: 6em;
left: 0em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
}
#locationform {
top: 0em;
width: 20%;
float: left;
}
#btns {
clear: both;
padding-bottom: 0em;
}
label {
display: block;
text-align: right;
float: left;
width:75px;
padding-right: 20px;
}
#locns3 {
position: absolute;
height: 170pt;
top: 0em;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
/* overflow: scroll; */
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
}
#picked {
position: absolute;
height: 170pt;
top: 21em;
}
#locnsempty {
position: absolute;
height: 100pt;
top: 70pt ;
left: 225pt;
margin-top: 0em;
padding-top: 0em;
padding-top: 0em;
padding-bottom: 0em;
/* overflow: scroll; */
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
}
/* top: 85pt ; */
#locnsempty3 {
position: absolute;
height: 90pt;
top: 85pt ;
left: 2pt;
margin-top: 0em;
margin-right: 4pt;
padding-top: 0em;
padding-bottom: 0em;
padding-right: 6pt;
/* overflow: scroll; */
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
font-size: 12pt;
line-height: 14pt;
}
